@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background: url(img/bg-pattern.svg), #000; 
}

a {
    @apply transition-all;
}

header {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.71) 5.32%, rgba(255, 255, 255, 0.00) 27.78%), url(img/header.jpg), lightgray -164.916px -523px / 106.648% 185.301% no-repeat;
}