@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: 10px;
    scrollbar-color: #000000 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 0px;
    border: 0px solid #ffffff;
  }

html {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background: url(img/bg-pattern.svg), #000; 
}

a {
    @apply transition-all;
}

strong {
    @apply font-bold;
}

header {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.71) 5.32%, rgba(255, 255, 255, 0.00) 27.78%), url(img/header.jpg), lightgray -164.916px -523px / 106.648% 185.301% no-repeat;
}

.breaker {
    background-image: url(img/breaker.jpg);
    background-attachment: fixed;
    padding-block: 115px;
}

button[aria-expanded="true"] {
    color: black;
}

@media (max-width: 992px) { .rellax { transform: translate3d(0,0,0) !important; } }

.scroll {
  @apply bg-black text-white;
  transition: ease all .4s;

}

.scroll a, .scroll path {
  @apply text-white;
  transition: ease all .4s;

}

#navigation, #navigation img {
  transition: ease all .4s;
}

#navigation.scroll {
  @apply fixed top-0 w-full z-50
}

.scroll img {
  filter: invert();
}